# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.astro/
.wrangler/

# env / secrets
.env
.env.*
!.env.example
.dev.vars

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# misc
coverage/
.cache/
